@media screen and (min-width: 1024px){
    *{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    body{
        background-color: #ffcc08;
        width: 100%;
        height: 100%;
    }
    
    /* ------------------------------------------------------------- */
    /* ----------------------  LOADING PAGE ------------------------ */
    /* ------------------------------------------------------------- */
    
    
    #loading h1{
        font-size: 100pt;
        font-weight: 100;
        color: rgb(20,20,20);
        text-align: center;
    }

    .fancy_title{
        font-family: 'Comfortaa', cursive;
        margin-top: 15%;
    }
    .char{
        animation: pulse 3s;
    }
    .char2{
        animation: pulse 5s;
    }
    .char3{
        animation: pulse 7s;
    }
    .char4{
        animation: pulse 9s;
    }
    .char5{
        animation: pulse 11s;
    }
    .char6{
        animation: pulse 13s;
    }
    .char7{
        animation: pulse 15s;
    }
    
    @keyframes pulse{
        0%{
            color: #ffcc08;
        }
        80%{
            color: #ffcc08;
        }
        100%{
            color: #141414;
        }
    }
    
    .loader{
        position: fixed;
        display: block;
        margin-left: 45%;
        width: 100px;
        height: auto;
        margin-top: 0px;
        z-index: 8000;
        
    }
    .count
    {
        font-family: 'Comfortaa', cursive;
        position: fixed;
        line-height: 100px;
        color:#141414;
        display: block;
        margin-left: 48%;
        font-size:20px;
        z-index: 10000;
    }
    #pagina{
        display: none;
    }
    
    /* ------------------------------------------------------------------------------------------------------------------------ */
    /* ------------------------------------------------------------------------------------------------------------------------ */
    /* --------------------------------------------------  PAGINA PRINCIPAL --------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------------ */
    /* ------------------------------------------------------------------------------------------------------------------------ */
    
    
    
    /* ------------------------------------------------------------- */
    /* ------------------ HEADER --------------------------- */
    /* ------------------------------------------------------------- */
    
    .menu_bar{
        display: none;
    }
    header{
        width: 100%; 
    }
    header nav{
        z-index: 1000;
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    header nav ul{
        list-style: none;
        display: inline-table;
    }
    header nav ul li{
        font-family: 'Roboto', sans-serif;
        display: inline-block;
    }
    header nav ul li a{
        color: #ffcc08;
        display: block;
        text-decoration: none;
        padding: 20px;
        transition: all 0.1s ease-in;
    }
    header nav ul li a:hover{
        -webkit-animation: color-change 0.5s infinite;
        -moz-animation: color-change 0.5s infinite;
        -o-animation: color-change 0.5s infinite;
        -ms-animation: color-change 0.5s infinite;
        animation: color-change 0.5s infinite;
    }
    header nav ul li a span{
        margin-right: 10px;
    }

    
    /* ------------------------------------------------------------- */
    /* ------------------ SECCIÓN 1 --------------------------- */
    /* ------------------------------------------------------------- */
    
    
    
    #bg_video{
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background: url("video/Reel.mp4");
        background: no-repeat;
        background-size: cover;
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
    }
    #sec1 h1, #sec1 h3, #webgl-container{
        display: none;
    }
    
    /* ------------------------------------------------------------- */
    /* ------------------ REDES SOCIALES --------------------------- */
    /* ------------------------------------------------------------- */
    
    .social{
        position: fixed;
        left: 0px;
        top: 20%;
        z-index: 2000;
        margin-left: 0;
    }
    .social ul{
        list-style-type: none;
    }
    .social ul li a{
        display: inline-block;
        color: #ffcc08;
        background-color: rgb(20,20,20);
        text-decoration:none; 
        padding: 20px 10px;
        transition: all 0.1s ease-in-out;
    }
    .social ul li a:hover{
        padding: 20px 30px;
    }
    
    
    /* ------------------------------------------------------------- */
    /* ------------------ keyframes --------------------------- */
    /* ------------------------------------------------------------- */
    
    
    @-webkit-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-moz-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-ms-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-o-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    
}