@media screen and (min-width: 320px) and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: #fff;
        background-position: top;
        /*font-family: 'Comfortaa', cursive;*/
        font-family: 'Roboto', sans-serif;
        width: 99%;
        height: 10000px;
    }
    .menu_bar{
        display: block;
        width: 100%;
        height: 80px;
        position: fixed;
    }
    .menu_bar .bt-menu{
        display: block;
        height: 50px;
        color: #ffcc08;
        text-decoration: none;
    
    }
    .menu_bar span{
        float: right;
        padding: 15px;
        
    }

    h1{
        font-size: 200pt;
        font-weight: 100;
        color: rgb(20,20,20);
        /*letter-spacing: .2em;*/
        text-align: center;
    }
    .nav{

        position: fixed;
        width: 40%;
        left: -100%; 
        margin: 0;
        height: 100%;
        background-color: rgb(20,20,20);
        
    }
    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }
    
    .nav li {
        float: none;
        border-bottom: 1px solid rgba(255,204,8,0.3);
        
    }
    
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 0.7em;
    }
    .nav li a {
        display: block;
        color: #ffcc08;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: all 0.1s ease-in;
    
        
        
    }
    .nav li a:hover{
        transform: scale(1.1);
    }
    li a:hover {
        
        -webkit-animation: color-change 0.5s infinite;
        -moz-animation: color-change 0.5s infinite;
        -o-animation: color-change 0.5s infinite;
        -ms-animation: color-change 0.5s infinite;
        animation: color-change 0.5s infinite;
    }
    
    .social{
        display: none;
        position: fixed;
        left: -40px;
        top: 150px;
        z-index: 2000;
        margin-left: 0;
    }
    .social ul{
        list-style-type: none;
    }
    .social ul li a{
        display: inline-block;
        color: #ffcc08;
        background-color: rgb(20,20,20);
        text-decoration:none; 
        padding: 20px 10px;
        transition: all 0.1s ease-in-out;
    }
    .social ul li a:hover{
        padding: 20px 30px;
    }

    #ca_index{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @-webkit-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-moz-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-ms-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-o-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    
    #bg_video{
        display: none;
    }
    
    .sec2{
        position: absolute;
        height: 700px;
        width: 100%;
        left: 0;
        top: 759px;
        background-color: rgba(100,100,100,0.4);
        z-index: -1;
    }
    
    .sec3{
        position: absolute;
        height: 700px;
        width: 100%;
        left: 0;
        top: 1459px;
        background-color: rgba(255,100,100,0.4);
        z-index: -1;
    }
}


