/* Presentation CSS */
.mainContent {
	top: 100px;
	left: 80px;
	width: 864px;
	position: relative;
	border: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	font: normal 16px 'HelveticaLight';
	z-index:3;
}
p {
	margin-bottom:25px;
}
.noSwipe{
	z-index: 3;
}
button {
	padding: 10px;
}
.bodyText {
	margin-top:50px;
	font-size: 16px;
}
/* Fragment selector container */
#fragmentSelector {
    display: none;
    position: absolute;
    bottom: 65px;
    left: 220px;
    width: 250px;
    color: #999;
    background-color: transparent;
    z-index: 999;
}
/* Container for fragments */
#fragmentSelector #inner {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    font: 16px HelveticaMedium;
}
/* Fragments */
#fragmentSelector #inner div {
    padding: 10px 5px;
    cursor: pointer;
}
/* Selected fragments */
#fragmentSelector #inner div.gskFragmentSelected {
    color: #000;
}
/* Chrome added to bottom of the popup */
.selectorTriangle {
    position: relative;
    left: 115px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    z-index: 1000;
}
