@media screen and (min-width: 1024px){
    body{
        background-color: #ffcc08;
        background-position: top;
        font-family: 'Coming Soon', cursive;
        width: 99%;
        height: 100%;
    }
    .contenedor{
        width: 90%;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
    }

    h1{
        font-size: 200pt;
        font-weight: 100;
        color: rgb(20,20,20);
        /*letter-spacing: .2em;*/
        text-align: center;
    }
    
    header .nav{
        top: 30px;
        left: 36.5%;
        position: fixed;
    }
    header #logo{
        display: none;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        height: 90px;
    }

    .nav li {
        float: left;
        margin-left: 20px;
        display: inline-block;
    }
    header p{
        font-family: 'Roboto', sans-serif;
        
       
        font-size: 0.7em;
    }
    .nav li a{
        display: block;
        color: #ffcc08;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: all 0.1s ease-in;
        
    }
    .nav li a:hover{
/*        transform: scale(1.1);*/
        padding: 8px 16px;
    }

    
    #loading h1{
        font-size: 100pt;
        font-weight: 100;
        color: rgb(20,20,20);
        /*letter-spacing: .2em;*/
        text-align: center;
    }
    

    
    li a:hover, .selected, .ir-arriba:hover{
        -webkit-animation: color-change 0.5s infinite;
        -moz-animation: color-change 0.5s infinite;
        -o-animation: color-change 0.5s infinite;
        -ms-animation: color-change 0.5s infinite;
        animation: color-change 0.5s infinite;
    }
    
    
    header #ca_index{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .header2 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        /*background-image: url(header_bg-01.svg);
        background-repeat: repeat-x;*/
        background-color: #141414;
        height: 50px;
    }
    .header2 p{
        display: none;
    }
    .header2 #logo{
        display: block;
    }
    .header2 #ca_index{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30px;
        height: auto;
    }
    .header2 .nav{
        top: 0;
        left: 0px;
        position: fixed;
    }
    
    .menu_bar{
        display: none;
    }

    
    .social{
        position: fixed;
        left: -40px;
        top: 150px;
        z-index: 2000;
        margin-left: 0;
    }
    .social ul{
        list-style-type: none;
    }
    .social ul li a{
        display: inline-block;
        color: #ffcc08;
        background-color: rgb(20,20,20);
        text-decoration:none; 
        padding: 20px 10px;
        transition: all 0.1s ease-in-out;
    }
    .social ul li a:hover{
        padding: 20px 30px;
    }

    @-webkit-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-moz-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-ms-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @-o-keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    @keyframes color-change {
        0% { color: red; }
        20% { color: #ffcc08; }
        40% { color: #088A08 }
        60% { color: blue; }
        80% { color: #DF01D7 }
        100% { color: red; }
    }
    
    #bg_video{
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background: url("video/Reel.mp4");
        background: no-repeat;
        background-size: cover;
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    #sec2{
        display: block;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        width: auto;
        left: 0;
        top: 100%;
        background-color: #ffcc08;
        z-index: -1;
    }
    
    h3{
        margin-top: 60px;
        text-align: center;
        color: rgb(20,20,20);
/*        font-family: 'Rock Salt', cursive;*/
        font-family: 'Coming Soon', cursive;
    }
    .contenedor2{
        width: 90%;
        max-width: 100%;
        margin: auto;
        margin-top: 40px;
        overflow: hidden;
    }
    .perfil{
        width: 100%;
        height: 200px;
        margin-top: 50px;
        margin: 0;
        left: 0;
        display: inline-block;
    }
   
    .about-me{
        display: block;
        margin-left: auto;
        margin-right: auto;
/*        margin-top: 5%;   */
        
    }
    #what-i-love{
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    #km_video{
        height: 100px;
        z-index: 5;
    }
    .perfil ul{
        display: block;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        margin-left: 0;
        width: 97%;
        overflow: hidden;
        height: 100px;
        margin-top: 40px;
        

    }
    .perfil ul li {
        float: left;
        margin-left: 20px;
        display: inline-block;
        padding: 0px;
   
    }
    .skills{
        width: 50px;
        height: 50px;
    }
    .contenedor2 ul{
        
        list-style-type: none;
        margin-left: 50;
        padding: 50;
        width: 100%;
        overflow: hidden;
        height: 150px;
    }
    .contenedor2 ul li {
        float: left;
        margin-left: 30px;
        display: inline-block;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
        transition: all .2s ease-in-out;
        background: linear-gradient(0deg,#fff 50%,#141414 50%);    
    }


    .issuuembed{
        width:525px;
        height:340px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;

    }
    #mylinea{
        -webkit-animation: size-change 0.2s infinite;
        -moz-animation: size-change 0.2s infinite;
        -o-animation: size-change 0.2s infinite;
        -ms-animation: size-change 0.2s infinite;
        animation: size-change 0.2s infinite;
    
    }
    #mylinea2{
        -webkit-animation: size-change 0.4s infinite;
        -moz-animation: size-change 0.4s infinite;
        -o-animation: size-change 0.4s infinite;
        -ms-animation: size-change 0.4s infinite;
        animation: size-change 0.4s infinite;
    
    }
    @-webkit-keyframes size-change {
        0% { width: 20%; }
        50% { width: 40%;}
        100% { width: 20%;}
    }
    @-moz-keyframes size-change {
        0% { width: 20%; }
        50% { width: 40%;}
        100% { width: 20%;}
    }
    @-ms-keyframes size-change {
        0% { width: 20%; }
        50% { width: 40%;}
        100% { width: 20%;}
    }
    @-o-keyframes size-change {
        0% { width: 20%; }
        50% { width: 40%;}
        100% { width: 20%;}
    }
    @keyframes size-change {
        0% { width: 20%; }
        50% { width: 40%;}
        100% { width: 20%;}
    }
    #sec3{
        display: block;
        position: absolute;
        min-width: 100%;
        min-height: 210%;
        height: auto;
        width: auto;
        left: 0;
        top: 370%;
        background-image: url(fg.png);
        background-repeat:repeat-y;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        
    }
    .grid figure p{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 0.7em;
        color: white;
    }
    .grid figure h3, .grid figure h2, .grid figure h1{
        font-family: 'Roboto', sans-serif;
        margin-top: 60px;
        text-align: center;
        color: white;
    }

    #sec3 ul{
        list-style-type: none;
        position: absolute;
        height: 1500px;
        width: 94%;
        left: 40px;
        text-align: center;
        overflow:hidden;
      
    }
    #sec3 ul li{
        width: 300px;
        height: 300px;
        float: left;
    }
    
    .grid figure {
        margin:0;
        padding:0;
        position:relative;

    }
    .grid figure img {
        display:block;
        position:relative;
        z-index:10;        
    }
    .grid figure figcaption {
        display:block;
        position:absolute;
        z-index:5;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box
    }
    .grid figure figcaption {
        top:0;
        left:0;
        width:100%;
        height:100%;
        padding:29px 0px;
        background-color:rgba(20,20,20,0.5);
        text-align:center;
        backface-visibility:hidden;
        -webkit-transform:rotateY(-180deg);
        -moz-transform:rotateY(-180deg);
        transform:rotateY(-180deg);
        -webkit-transition:all .5s;
        -moz-transition:all .5s;
        transition:all .5s
    }
    .grid figure img {
        backface-visibility:hidden;
        -webkit-transition:all .5s;
        -moz-transition:all .5s;
        transition:all .5s
    }
    .grid figure:hover img,figure.hover img {
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        transform:rotateY(180deg)
    }
    .grid figure:hover figcaption,figure.hover figcaption {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    button {
        width:200px;
        height:50px;
        display:inline-block;
        font-family:Arial, "Helvetica", sans-serif;
        font-size:15px;
        color:#fff;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #07526e;
        margin-left:auto;
        margin-right:auto;
        cursor:pointer;
        border: none;
        background: #109bce;
    }
    button:hover{
        background: #309cce;
    }
    
    .black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(20,20,20,0.8);
        z-index: 5001;
        
    }

    .white_content {
        display: none;
        position: fixed;
        top: 15%;
        left: 5%;
        width: 90%;
        height: 75%;
        z-index: 5002;
        overflow: auto;
    }
    #close-popup{
        z-index:6000;
        width: 20px;
        height: auto;
        left: 50%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    #close-popup:hover{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .popupContenido1 h3, .popupContenido1 h2, .popupContenido1 h1{
        font-family: 'Roboto', sans-serif;
        margin-top: 0px;
        color: white;
    }

    .popupContenido1 p{
        font-family: 'Roboto', sans-serif;
        color: white;
        margin-left: 450px;
        
    }
    .pop_contenido{
        margin-left: 10%;
        
    }
    
    #pop01, #pop02, #pop03, #pop04, #pop04, #pop05, #pop06, #pop07, #pop08, #pop09, #pop10, #pop11, #pop12, #pop13, #pop14, #pop15, #pop16
    { 
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 120%;
        background-color: rgba(0,0,0,0.7);
        display: none;
        z-index: 3000;
    }
    .popupSize{
        /*width: 550px;*/
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-top: 5%;
        transition: all 0.2s;
    }
    .popupContenido1{
        transition: all 0.2s;
    }

     #sec4{
        display: block;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        width: auto;
        left: 0;
        top: 560%;
        background-color: #ffcc08;
        z-index: -1;
    }
    
    .contact2{
        text-align:center;
        margin-top: 50px;
    }
    .contact2 ul{
        list-style-type: none;
       
        
    }
    .contact2 ul li a{
        display: inline;
        color: #141414;
        text-decoration:none; 
        padding: 20px 10px;
        float: left;
        font-size: 3em;
        margin-left: 6%;
        transition: all 0.1s ease-in-out;
       
    }
    .contact2 ul li a:hover{
        padding: 20px 10px;
    }
    
    
    form{
        margin-top: 150px;
        width: 360px;
        display: block;
        margin-left: auto;
        margin-right: auto;   
    }
    form input{
        width: 280px;
        height: 35px;
        padding: 0px 10px;
        color: #6d6d6d;
        text-align: center;
        margin: 10px 30px;
       
    }
    form input[type=text2]{
        width: 280px;
        height: 100px;
        padding: 0px 10px;
        color: #6d6d6d;
        text-align: center;
        margin: 10px 30px;
        
    }
    fieldset {
    padding: 10px;
}
    form button{
        width: 135px;
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        
    }
    
 
    .ir-arriba{
        display: none;
        padding: 20px;
        background-color:rgb(20,20,20);
        font-size: 20px;
        color: #ffcc08;
        z-index: 5;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    #pagina{
        display: none;
    }
    
    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: #ffcc08;
        z-index: 6000;
        text-align: center;
    }

 
     .perfil-bg{
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        z-index: 5;
    }
    .loader{
        position: fixed;
        display: block;
        margin-left: 45%;
        width: 100px;
        height: auto;
        margin-top: 0px;
        z-index: 8000;
        
    }
    .count
    {
        position: fixed;
        line-height: 100px;
        color:#141414;
        display: block;
        margin-left: 48%;
        font-size:20px;
        z-index: 10000;
    }
    .fancy_title{
        font-family: 'Comfortaa', cursive;
    }
    .char{
        animation: pulse 3s;
    }
    .char2{
        animation: pulse 5s;
    }
    .char3{
        animation: pulse 7s;
    }
    .char4{
        animation: pulse 9s;
    }
    .char5{
        animation: pulse 11s;
    }
    .char6{
        animation: pulse 13s;
    }
    .char7{
        animation: pulse 15s;
    }
    
    @keyframes pulse{
        0%{
            color: #ffcc08;
        }
        80%{
            color: #ffcc08;
        }
        100%{
            color: #141414;
        }
    }
    


    

}


