body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
header{
    width: 100%;
    overflow: hidden;
    background: rgb(230,74,25);
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header .logo{
    color: white;
    font-size: 10px;
    float:left;
    cursor: pointer;
}
header #my-logo{
    height: 50px;
    width: auto;
    margin-top: 20px;
    line-height:normal;
    padding: 0px 0px;
    background: rgba(255,255,255,0.5);
	border-radius:50px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header #my-logo:hover{
    background: white;
}
header nav{
    float:right;
    line-height: 100px;
}
header nav a{
    display: inline-block;
    color:white;
    text-decoration: none;
    line-height:normal;
    padding:10px 20px;
	font-size:20px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	cursor: pointer;
	
}
header nav a:hover {
	background: white;
	border-radius:50px;
	color: rgb(230,74,25);
}

#section0{
    background-image: url("../img/bg.jpg");
    background-color: #cccccc;
    width: 100%;
    height: 100vh;
}
#section1{
    width: 100%;
    height: 100vh;
    background-color: rgb(255,204,188);
}
#section2{
    width: 100%;
    height: 100vh;
    background-color: rgb(3,169,244);
}
#section3{
    width: 100%;
    height: 100vh;
    background-color: rgb(117,117,117);
}
h1{
    text-align: center;
    color:white;
    font-size: 100px;
}
footer{
    width: 100%;
    height: 100vh;
    background-color: rgb(33,33,33);
}
footer .izq{
    float:left;
    height: 80vh;
    width: 30%;
    background-color: white;
    margin-top: 30px;
    border-radius: 5%;
}
footer .der{
    float:right;
    height: 80vh;
    width: 68%;
    border-radius: 5%;
    margin-top: 30px;
}
.upper{
    background-color: white;
    height: 10vh;
    border-radius: 5%;
}
.lower{
    background-color: white;
    height: 65vh;
    margin-top: 30px;
    border-radius: 5%;
}

.ir-arriba{
    display: none;
    padding: 20px;
    background-color:rgb(230,74,25);
    font-size: 20px;
    color: white;
    z-index: 5;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.ir-arriba:hover{
    -webkit-animation: color-change 0.5s infinite;
    -moz-animation: color-change 0.5s infinite;
    -o-animation: color-change 0.5s infinite;
    -ms-animation: color-change 0.5s infinite;
    animation: color-change 0.5s infinite;
}

.header2{
    position: fixed;
    height: 50px;
    background-color:rgb(230,74,25);
}
.header2 .logo{
    font-size: 5px;
}
.header2 #my-logo{
    height: 20px;
    width: auto;
    margin-top: 15px;
}
.header2 nav{
    line-height: 50px;
}

.menu_bar{
    display: none;
}

@media screen and (max-width: 800px){
    header nav{
        width: 80%;
        left: 0;
        height: 100%;
        margin: 0;
        position: fixed;
        background: rgb(230,74,25);
    }
    header nav a{
        display: block;
        float: none;
        margin-top: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .header2{
        line-height: 100px;
        height: 60px;
    }
    .menu_bar{
        display: block;
        width: 100%;
        
    }
    .logo{
        display: none;
    }
    .menu_bar .fa-bars{
        cursor: pointer;
        display: block;
        padding: 20px;
        color:white;
        font-size: 20px;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: right;
    }
}