body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
header{
    width: 100%;
    overflow: hidden;
    background: rgb(230,74,25);
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header .logo{
    color: white;
    font-size: 10px;
    float:left;
    cursor: pointer;
}
header #my-logo{
    height: 50px;
    width: auto;
    margin-top: 20px;
    line-height:normal;
    padding: 0px 0px;
    background: rgba(255,255,255,0.5);
	border-radius:50px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header #my-logo:hover{
    background: white;
}
header nav{
    float:right;
    line-height: 100px;
}
header nav a{
    display: inline-block;
    color:white;
    text-decoration: none;
    line-height:normal;
    padding:10px 20px;
	font-size:20px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	
}
header nav a:hover {
	background: white;
	border-radius:50px;
	color: rgb(230,74,25);
}

#section0{
    background-image: url("../img/bg.jpg");
    background-color: #cccccc;
    width: 100%;
    height: 100vh;
}
#section1{
    width: 100%;
    height: 100vh;
    background-color: rgb(255,204,188);
}
#section2{
    width: 100%;
    height: 100vh;
    background-color: rgb(3,169,244);
}
#section3{
    width: 100%;
    height: 100vh;
    background-color: rgb(117,117,117);
}
h1{
    text-align: center;
    color:white;
    font-size: 100px;
}
footer{
    width: 100%;
    height: 100vh;
    background-color: rgb(33,33,33);
}