/* Local CSS */

.mainContent .pageTitle strong{
    font-family: 'TodayBoldItalic';
    color: rgb(22,65,148);
    font-size: 34px;
    font-weight: normal;
}

.mainContent .leftContent ul li{
    color: rgb(22,65,148);
	top: 140px;
    left: 0;
    position: absolute;
}


.mainContent .rightContent .btn{
    position: absolute;
    top: 120px;
    left: 300px;
}
.mainContent .rightContent .boton{
    width: 300px;
    height: auto;
}
.mainContent .rightContent #text_btn{
    font-family: 'TodayBoldItalic';
    color: rgb(22,65,148);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-right: -20px;
    margin-top: -50px;
}